.table-price {
  color: #f5bf0b;
  font-weight: bold;
}

.product-description {
  padding-top: 20px;
}

.auction-title {
  font-size: 30px !important;
  padding-top: 20px;
}

.auction-timer {
  padding-top: 10px;
  text-align: center;
  font-weight: bolder;
  background-color: #f5bf0b;
}

.last-price {
  font-weight: bolder;
  color: #0006a6;
}

.auction-controls {
  text-align: center;
  background-color: #f5bf0b;
  padding-bottom: 10px;
}

.btn-primary,
.btn-primary:active,
.btn-primary:visited {
  background-color: #0006a6 !important;
}

.btn-primary:hover {
  background-color: #f5bf0b !important;
  color: #0006a6 !important;
  border: 1px solid #0006a6;
}

.price-bid-form {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
}

.display-field-for-bid {
  display: flex;
  flex-wrap: wrap;
}

td,
th {
  font-size: 15pt !important;
  text-align: center;
}
