.img-box {
  width: 100%;
  height: 100%;
}

.marginii {
  margin: 90px 0px 90px 0px !important;
}

.sporrt_text,
.lorem_text {
  color: #0006a6 !important;
  font-weight: bold;
}

.about {
  background: #f5bf0b !important;
}

.btn_main {
  padding-top: 10px !important;
}
