.btn-primary,
.btn-primary:active,
.btn-primary:visited {
  background-color: #f5bf0b !important;
}

.btn-primary:hover {
  background-color: #0006a6 !important;
  color: #f5bf0b;
}

.banner-main,
.clothes_main {
  background-color: #ffffff !important;
}

.header_main {
  background-color: #0006a6 !important;
}

.footer {
  background-color: #0006a6 !important;
  padding-top: 20px;
  padding-bottom: 20px;
}

.black {
  color: #5a00ab !important;
}

.page-body {
  max-width: 1000px;
}
